<div class="container">
   <header class="row app-title">
      <h1 class="col col-xs-7 col-md-9"><a href="#" title="Clear Parameters"><i>🐱</i></a> a<b>REST</b>ocats <small>interactive tests</small></h1>
      <div class="col col-xs-5 col-md-3" data-ax-widget-area="header"></div>
   </header>

   <header class="row app-nav">
      <div data-ax-widget-area="nav"></div>
   </header>

   <main>
      <div data-ax-widget-area="left"></div>
      <div data-ax-widget-area="right"></div>
   </main>
</div>
